table{
   white-space: nowrap;
   overflow: hidden;
   width: 30%;
   border: 1px solid black;
   text-align: center;
}
li{
   text-align: left;
}
td,th{
   border: 1px solid black;
}
.rodape{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: white;
    text-align: center;
}